* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;   /* prevent side scroll */
}

h1, h3 {
  margin-bottom: 10px;
}

.container {
  padding: 24px;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}