/* PAGE */
.upload-page {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

/* JOB INFO */
.job-info {
  margin-bottom: 20px;
}

/* CARD */
.upload-card {
  padding: 30px;
  text-align: center;
}

/* DROP ZONE */
.drop-zone {
  border: 2px dashed #3b82f6;
  padding: 35px;
  border-radius: 12px;
  background: #f9fbff;
  margin-top: 20px;
  transition: all 0.2s ease;
}

.drop-zone:hover {
  background: #eef2ff;
  border-color: #2563eb;
}

/* BUTTON */
.upload-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 18px;
  background: #3b82f6;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}

.upload-btn:hover {
  background: #2563eb;
}

/* HIDE INPUT */
.hidden-input {
  display: none;
}

/* FILE LIST */
.file-list {
  margin-top: 20px;
  text-align: left;
}

.file-item {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 14px;
}

/* LOADER */
.loader {
  margin: 15px 0;
  text-align: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #e5e7eb;
  border-top: 4px solid #3b82f6;
  border-radius: 50%;
  margin: auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* DISABLED STATE */
.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.view-btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #10b981;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.view-btn:hover {
  background: #059669;
}